name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Install Clippy
        run:  rustup component add clippy --toolchain nightly-x86_64-unknown-linux-gnu

      - name: Lint
        run: cargo clippy

  Build-And-Run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Read .nvmrc into env.NVMRC
        run: echo NVMRC=$(cat .nvmrc) >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '${{env.NVMRC}}'

      - name: Install Polywrap CLI
        run: |
          yarn
          echo POLYWRAP_CLI_PATH=$(echo $(pwd)/node_modules/polywrap/) >> $GITHUB_ENV

      - name: Build
        run: cargo build

      - name: Run
        env:
          POLYWRAP_CLI_PATH: ${{ env.POLYWRAP_CLI_PATH }}
        run: cargo run -- -w

      - name: List Artifacts
        run: ls target/debug
